:root {
  --main-color: #ffc53d;
  --side-color: #ff9a3d;
  --shadow: #fafaff;
  --copyright: #a0a0a0;
  --gradient-direction: to right;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

*:focus {
  outline: none;
}

html {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}


/*-------------common------------*/
ul {
  list-style: none;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 0;
}

/*-------------social-media-bar-------------*/
.media {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 15px;
  width: 200px;
  max-height: 25px;
}

.media-icons {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}

a[href*="github"] div {
  background-color: transparent;
  font-size: 25.5px;
}

.fab {
  vertical-align: -30%;
  color: var(--main-color);
}

.fa-github {
  vertical-align: 10%;
  color: white;
}

/*-------------buttons-------------*/
.big-button, .small-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  background-image: linear-gradient(var(--gradient-direction), var(--side-color), var(--main-color));
  color: white;
}

.big-button {
  width: 200px;
  height: 50px;
  margin: 0 2.2rem;
}

.small-button {
  width: 100px;
  height: 50px;
}

.big-button:hover, .small-button:hover {
  animation: btn-animation .2s;
}

@keyframes btn-animation {
  0% {
    --gradient-direction: to right;
  }
  25% {
    --gradient-direction: to top;
  }
  50% {
    --gradient-direction: to left;
  }
  75% {
    --gradient-direction: to bottom;
  }
  100% {
    --gradient-direction: to right
  }
}

/*-*-*-*-*-*-*<header>*-*-*-*-*-*-*/
header {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*-------------<nav>-------------*/
nav {
  margin: 2.5rem .6rem .5rem 3rem;
  max-height: 2rem;
  font-weight: bold;
}

nav .home {
  font-size: 1.3rem;
  float: left;
  position: relative;
}

nav .menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

nav a {
  color: black;
  text-decoration: none;
}

.home a {
  position: absolute;
  top: 0;
  padding-left: .5rem;
 }

.menu a {
  padding: 1rem;
}

/*-------------.welcome-------------*/
.cover-layer {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover-layer.png");
  background-size: cover;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.welcome {
  background-image: url("../images/cover-photo.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem;
}

.welcome > * {
  z-index: 10;
}

.welcome h1 {
  margin-top: 1rem;
  color: var(--main-color);
  font-size: 5.5rem;
  font-weight: bold;
}

.welcome p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*-*-*-*-*-*-.more-info-*-*-*-*-*-*/
.more-info {
  width: 100vw;
  min-height: 35vh;
  background-color: white;
  flex-direction: column;
}

.more-info p {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.buttons {
  text-align: center;
  padding-bottom: 1rem;
}

/*-*-*-*-*-*-*.about-me && .skills*-*-*-*-*-*-*/
.about-me, .skills {
  position: relative;
  width: 100vw;
  height: 70vh;
  margin-bottom: 3rem;
}

.rectangle {
  background-color: var(--shadow);
  width: 70%;
  height: 100%;
  z-index: -1;
}

.content {
  box-sizing: border-box;
  background-color: white;
  width: 86vw;
  min-width: 86vw;
  height: 45vh;
  position: absolute;
  top: 12.5vh;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.highlight {
  color: var(--main-color);
  font-weight: bold;
}

/*-*-*-*-*-*-*.about-me*-*-*-*-*-*-*/

.about-me .rectangle {
  position: absolute;
  top: 0;
  left: 0;
}

.about-me .content {
  display: flex;
}

.about-me h2 {
  position: absolute;
  top: 0;
  left: 8.4rem;
}
.picture {
  padding: 3rem 0 0 3rem;
  flex: 1;
}

.picture img {
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
}

.info {
  padding: 3rem ;
  flex: 2;
  align-self: center;
  border-right: 4px dashed var(--main-color);
  padding: 0 1rem;
}

.info ul {
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  padding: .5rem 3rem .5rem 1.5rem;
  max-height: 90%;
  flex: 4;
  line-height: 170%;
  align-self: center;
  display: flex;
  overflow: auto;
}


/*-*-*-*-*-*-*.skills*-*-*-*-*-*-*/
.skills .rectangle {
  position: absolute;
  top: 0;
  right: 0;
}

.skills .content {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
}

.skills h2 {
  position: absolute;
  top: 0;
  left: 24rem;
}

.skill {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.skill:nth-child(-n+2) {
  border-right: 4px dashed var(--main-color);
}

.skill p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 170%;
}

/*-*-*-*-*-*-*.portfolio*-*-*-*-*-*-*/
.portfolio h2 {
  text-align: center;
  padding-top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.project:nth-child(1) {
  grid-column: 1/span 3;
  position: relative;
}

.project:nth-child(2) {
  grid-column: 4/span 2;
}

.project:nth-child(3) {
  grid-column: 6/span 3;
}

.project:nth-child(4) {
  grid-column: 1/span 2;
}

.project:nth-child(5) {
   grid-column: 3/span 6;
   position: relative;
 }

.project img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project:not(img) {
  z-index: 10;
}

.project .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 0 0 2rem;
  color: white;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
}

.wrapper h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.wrapper p {
  margin: .3rem 3rem 1.3rem 0;
  max-width: 24rem;
}

/*-*-*-*-*-*-*.contact*-*-*-*-*-*-*/
.contact {
  margin-top: 4rem;
  width: 100vw;
  height: 110vh;
  position: relative;
}

.contact .rectangle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact h2 {
  position: absolute;
  top: 0;
  left: 8.4rem;
}

.contact-form {
  position: absolute;
  top: 4rem;
  margin: 0 7%;
  width: 86%;
  height: 90vh;
  display: flex;
}

.contact-info {
  padding: 2rem 3rem;
  background-color: var(--side-color);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info p {
  color: white;
}

.container-up {
  flex: 1;
}

.container-up p {
  flex: 1;
  line-height: 1.7rem;
  padding: 1rem 0;
}

.container-down {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Ubuntu, sans-serif;
}

.address p {
  line-height: 1.3rem;
}

.address p:first-child {
  font-weight: bold;
  padding-top: .5rem;
}

.form-area {
  flex: 3;
  padding: 2rem 2.5rem;
  background-color: white;
}

.form-area p {
  font-size: 2rem;
  font-weight: bold;
}

.form-area form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.form-area input {
  flex: 1;
  background-color: var(--shadow);
  font-family: Ubuntu, sans-serif;
  border-radius: 15px;
  margin: .5rem 0; 
  height: 2rem;
  padding: 0 1.5rem;
  border: none;
}

.form-area input[type=msg-from] {
  flex: 3;
}

.form-area input[type=submit] {
  align-self: flex-end;
}

input:not([type=submit]):focus {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all .2s ease-in-out;
}

/*-*-*-*-*-*-<footer>-*-*-*-*-*-*/
.copyright {
  height: 4.5rem;
  text-align: center;
}

.copyright p {
  font-family: Ubuntu, sans-serif;
  font-size: .93rem;
  color: var(--copyright);
  padding: 1.7rem 0;
}

