:root {
  --main-color: #ffc53d;
  --side-color: #ff9a3d;
  --shadow: #fafaff;
  --copyright: #a0a0a0;
  --gradient-direction: to right;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

*:focus {
  outline: none;
}

html {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}


/*-------------common------------*/
ul {
  list-style: none;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/*-------------social-media-bar-------------*/
.media {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 15px;
  width: 200px;
  max-height: 25px;
}

.media-icons {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}

a[href*="github"] div {
  background-color: transparent;
  font-size: 25.5px;
}

.fab {
  vertical-align: -30%;
  color: var(--main-color);
}

.fa-github {
  vertical-align: 10%;
  color: white;
}

/*-------------buttons-------------*/
.big-button, .small-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  background-image: linear-gradient(var(--gradient-direction), var(--side-color), var(--main-color));
  color: white;
}

.big-button {
  width: 200px;
  height: 50px;
}

.small-button {
  width: 100px;
  height: 50px;
}

.big-button:hover, .small-button:hover {
  animation: btn-animation .2s;
}

@keyframes btn-animation {
  0% {
    --gradient-direction: to right;
  }
  25% {
    --gradient-direction: to top;
  }
  50% {
    --gradient-direction: to left;
  }
  75% {
    --gradient-direction: to bottom;
  }
  100% {
    --gradient-direction: to right
  }
}

/*-*-*-*-*-*-*<header>*-*-*-*-*-*-*/
header {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*-------------<nav>-------------*/
nav {
  margin: 2.5rem .6rem .5rem 3rem;
  font-weight: bold;
  display: flex;  
}

nav .home {
  flex: 1;
  font-size: 1.3rem;
  float: left;
  position: relative;
}

nav .menu {
  flex: 4;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: black;
  text-decoration: none;
}

.home a {
  position: absolute;
  top: 0;
  padding-left: .5rem;
 }

.menu a {
  padding: 1rem;
}

/************RWD*************/
@media only screen and (max-width: 650px) {
  nav .menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu li {
    margin: .3rem 0rem;
  }
}

/*-------------.welcome-------------*/
.cover-layer {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover-layer.png");
  background-size: cover;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.welcome {
  flex: 3;
  background-image: url("../images/cover-photo.png");
  background-size: cover;
  position: relative;
  overflow: hidden; 
}

.welcome .container > * {
  z-index: 10;
}

.welcome .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.welcome .container h1 {
  margin: 3rem 0 1.5rem 0;
  color: var(--main-color);
  font-size: 5.5rem;
  font-weight: bold;
}

.welcome p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/************RWD*************/
@media only screen and (max-width: 650px) {
  .welcome .container h1 {
    font-size: 4rem;
  }
  .welcome .container p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .welcome .container h1 {
    font-size: 2.5rem;
  }
  .welcome .container p {
    font-size: 1rem;
  }
}
/*-*-*-*-*-*-.more-info-*-*-*-*-*-*/
.more-info {
  width: 100vw;
  min-height: 35vh;
  background-color: white;
  flex-direction: column;
}

.more-info p {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.buttons .big-button {
  margin: .5rem 2.2rem;
}

/************RWD*************/
@media only screen and (max-width: 650px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
  .more-info p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .more-info p {
    font-size: 1rem;
  }
}

/*-*-*-*-*-*-*.about-me && .skills*-*-*-*-*-*-*/
.about-me, .skills {
  width: 100vw;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

.rectangle {
  background-color: var(--shadow);
  width: 70%;
  height: 100%;
  z-index: -1;
}

.content {
  background-color: white;
  max-width: 86vw;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.highlight {
  color: var(--main-color);
  font-weight: bold;
}

.container .content {
  box-sizing: border-box;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-*-*-*-*-*-*.about-me*-*-*-*-*-*-*/

.about-me .rectangle {
  position: absolute;
  top: 0;
  left: 0;
}

.about-me .container h2 {
  padding-left: 7vw;
}

.info {
  flex: 2;
  margin: .5rem 1rem;
  padding-right: 1rem;
  border-right: 4px dashed var(--main-color);
  display: flex;
  justify-content: center;
}

.picture {
  flex: 1;
  align-self: flex-start;
  margin: 1rem 1rem;
}

.picture img {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

.info ul {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {  
  flex: 3;
  margin: .5rem 1rem;
  line-height: 170%;
  display: flex;
}

/************RWD*************/
@media only screen and (max-width: 1024px) {
  .about-me .container .content {
    flex-direction: column;
  }
  .info {
    border-right: none;
    padding-bottom: 1rem;
  }
  .description {
    border-top: 4px dashed var(--main-color);
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .info {
    flex-direction: column;
  }
}

/*-*-*-*-*-*-*.skills*-*-*-*-*-*-*/
.skills .rectangle {
  position: absolute;
  top: 0;
  right: 0;
}

.skills .container .content {
  justify-content: space-between;
  padding: 3rem 0rem;
}

.skills .container h2 {
  padding-left: 35%;
}

.skill {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.skill:nth-child(-n+2) {
  border-right: 4px dashed var(--main-color);
}

.skill p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 170%;
}

@media only screen and (max-width: 650px) {
  .skills .container .content {
    flex-direction: column;
  }
  .skill:nth-child(-n+2) {
    border-right: none;
    border-bottom: 4px dashed var(--main-color);
  }
  .skill {
    padding: 1rem 0;
    margin: 0 2.5rem;
  }

}

/*-*-*-*-*-*-*.portfolio*-*-*-*-*-*-*/
.portfolio h2 {
  text-align: center;
  padding-top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
}

.projects .project {
  overflow: hidden;
}

.project:nth-child(1) {
  grid-column: 1/span 3;
  position: relative;
}

.project:nth-child(2) {
  grid-column: 4/span 2;
}

.project:nth-child(3) {
  grid-column: 6/span 3;
}

.project:nth-child(4) {
  grid-column: 1/span 2;
}

.project:nth-child(5) {
   grid-column: 3/span 6;
   position: relative;
 }

.project img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project:not(img) {
  z-index: 10;
}

.project .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 0 0 2rem;
  color: white;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
}


.wrapper h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.wrapper p {
  margin: .3rem 3rem 1.3rem 0;
  max-width: 24rem;
}

/************RWD*************/
@media only screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .projects .project {
    grid-column: span 1;
  }
  .project:nth-child(5) {
    grid-column: span 2;
  } 
}

@media only screen and (max-width: 600px) {
 .project .wrapper {
   display: none;
 }
}

/*-*-*-*-*-*-*.contact*-*-*-*-*-*-*/
.contact {
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 100vw;
  position: relative;
}

.contact .rectangle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact .container h2 {
  padding-left: 7%;
}

.contact-form {
  align-self: center;
  width: 86%;
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
  flex: 2;
  background-color: var(--side-color);
  box-sizing: border-box;
  padding: 2rem 2.5rem;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info p {
  color: white;
}

.container-up {
  flex: 1;
  margin-bottom: 2rem;
}

.container-up p {
  line-height: 1.7rem;
  margin-top: 1rem;
}

.container-down {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Ubuntu, sans-serif;
}

.address p {
  line-height: 1.3rem;
}

.address p:first-child {
  font-weight: bold;
  padding-top: .5rem;
}

.form-area {
  flex: 3;
  background-color: white;
  box-sizing: border-box;
  padding: 2rem 2.5rem;
}

.form-area p {
  font-size: 2rem;
  font-weight: bold;
}

.form-area form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-area input {
  flex: 1;
  background-color: var(--shadow);
  box-sizing: border-box;
  padding: .75rem 1.5rem;
  margin: .5rem 0; 
  border: none;
  border-radius: 15px;
  font-family: Ubuntu, sans-serif;
}

.form-area input[type=msg-from] {
  min-height: 10rem;
}

.form-area input[type=submit] {
  align-self: flex-end;
}

input:not([type=submit]):focus {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all .2s ease-in-out;
}

/*-*-*-*-*-*-<footer>-*-*-*-*-*-*/
.copyright {
  text-align: center;
}

.copyright p {
  padding: 1.7rem 0;
  color: var(--copyright);
  font-size: .93rem;
  font-family: Ubuntu, sans-serif;
}

